.navbar {
    overflow: hidden;
    background-color:  rgb(200, 199, 198);
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: black;
    color: #ddd;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; 
  }